@import "../globals/__mixins";
@import "../globals/__variables";

.property-overview{
    .page-title{
        display: block;
        font-size: 20px;
        line-height: 24px;
        font-weight: bold;
        margin-bottom: 35px;
        margin-top: 6px;
        margin-left: 4px;
    }
    .property-table{
        @include table-wrapper;
        .table-header{
            .select-name{
                margin-left: 30px;
                min-width: 260px;

            }
            .type{
                flex: 1;
            }
            .date-create{
                .date{
                    margin-left: 30px;
                    width: 200px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 13px;
                }
                .create-button{
                    color: var(--text-light);
                    font-size: 14px;
                    line-height: 17px;
                    width: 240px;
                    height: 40px;
                    background-color: var(--primary);
                    border-radius: 5px;
                    border-color: var(--light);
                    border-style: solid;
                    border-width: 1px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    &:hover{
                       background-color: var(--hover-primary);
                    }
                    .property-icon{
                        align-self: center;
                        margin-top: 3px;
                        path{
                            fill: var(--text-light);
                        }
                    }
                }
            }
        }
        .table-content{
            .table-item{

                &.active{
                    height: 220px;
                }
                .table-info{
                    .select-name{
                        margin-left: 17px;
                        min-width: 260px;
                        display: flex;
                        flex-direction: row;
                        gap: 16px;
                        align-items: center;
                    }
                    .type{
                        flex: 1;
                    }
                    .date{
                        margin-left: 30px;
                        width: 210px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 13px;
                    }
                    .delete-open {
                        display: flex;
                        flex-direction: row;
                        align-items: center;



                        .delete-button {
                            height: 40px;
                            width: 180px;
                            background-color: var(--secondary);
                            color: var(--text);
                            border-radius: 5px;
                            border-color: var(--border-dark);
                            border-style: solid;
                            border-width: 1px;
                            gap: 6px;

                            &:hover {
                                background-color: var(--hover-secondary);
                            }
                            .trash-icon{
                                height: 20px;
                                width: 20px;
                                path {
                                    fill: var(--border-dark);
                                }
                            }
                        }
                        .dropdown-wrapper {
                            width: 54px;
                            &:hover {
                                cursor: pointer;
                            }
                            .open {
                                height: 10px;
                                margin: 20px;
                            }
                            .chevron-down{
                                width: 17px;
                                height: 10px;
                                margin: 10px 20px 10px 14px;
                                transition: transform 0.3s ease;
                                cursor: pointer;
                                &.active{
                                    transform: rotate(180deg);
                                }
                            }
                        }

                    }
                }
                .item-content{
                    display: flex;
                    flex-direction: row;
                    height: 160px;
                    gap: 20px;
                    padding: 0px 20px 20px 40px;
                    .property-options-grid{
                        flex: 1;
                        display: grid;
                        padding: 20px;
                        grid-auto-flow: column; // Prioritize filling columns over rows
                        grid-template-rows: repeat(3, 1fr);
                        grid-template-columns: repeat(6, 1fr);
                        overflow-x: auto;
                        overflow-y: hidden;
                        gap: 10px;
                        .grid-item{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            .input-wrapper {
                                display: inline-flex;
                                .auto-width-input {
                                    min-width: 20px;
                                    width: fit-content;
                                    box-sizing: border-box;
                                }
                            }
                            input{
                                background: none;
                                border: none;
                                height: 26px;
                                max-width: 200px;
                                min-width: 100px;
                            }
                            .close-icon{
                                justify-content: center;
                                align-items: center;
                                display: flex;
                                height: 16px;
                                width: 16px;
                                padding: 0px;
                                margin-right: 8px;
                                cursor: pointer;
                            }
                        }
                        .add-option-button{
                            width: 199px;
                            cursor: pointer;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                    .save-button{
                        height: 43px;
                        width: 126px;
                        align-self: flex-end;
                        @include primary-button;
                    }
                }
            }
        }
        .table-footer{
            display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 21px;
        background-color: var(--primary);
        padding: 17px 25px;
        color: var(--light);
        border-radius: 0 0 10px 10px ;
            .pagination {
                display: flex;
                gap: 5px;
                .link {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    color: var(--text-light);
                    border: 1px solid var(--border-light);
                    border-radius: 5px;
                    width: 42px;
                    height: 42px;
                    &:hover {
                        color: var(--primary);
                        background-color: var(--light);
                    }
                }
            }
        }
    }
    .delete-popup{
        @include popup-container;
    }
}
