@import "../globals/_mixins";
@import "../globals/__variables";

.product-overview {
    display: flex;
    gap: 31px;
    .product-container,
    .filter-container {
        display: flex;
        flex-direction: column;
        background-color: $light;
        border-radius: 10px;
        border: 1px solid $border-light;
        
    }
    .product-container {
        flex-grow: 1;
    }
    .filter-container {
        width: 100%;
        max-width: 265px;
        padding: 20px;
    }
}