@import "./_variables";


@mixin button-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;
    border: 1px solid $primary;
    border-radius: 5px;
    background-color: $primary;
    color: $text-light;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    &:hover {
        background-color: darken($primary, 10%);
    }
}

@mixin button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;
    border: 1px solid $border;
    border-radius: 5px;
    background-color: $light;
    color: $text;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    &:hover {
        background-color: darken($light, 10%);
    }
}

@mixin select {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 143px;
    padding: 13px 20px 11px 20px;
    border: 1px solid $border;
    border-radius: 5px;
    background-color: $light;
    color: $text;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) 50%;
}

@mixin box-shadow {
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}
