@import "./globals/__mixins";
@import "./globals/__variables";

#navbar {
    position: relative;
    display: flex;
    width: 100%;
    padding: 15px 30px 15px 44px;
    background-color: var(--light);
    z-index: 1;

    @include box-shadow;

    .wrapper {
        height: 100%;
        justify-content: space-between;

        .logo-container {
            display: flex;
            gap: 56px;
            height: 100%;

            .logo-link {
                display: flex;
                align-items: center;
                max-width: 228px;
                width: 100%;

                .logo {
                    width: 100%;
                    height: 21px;
                    path,
                    rect {
                        fill: var(--primary);
                    }
                }
            }

            .streep {
                height: 100%;
                width: 1px;
                background-color: #DBDBDB;
            }
        }

        .options {
            display: flex;
            gap: 13px;

            .add {
                position: relative;

                .button {
                    @include button(var(--primary), var(--primary), var(--text-light), var(--primary));
                    span.icon,
                    span.icon svg {
                        width: 19px;
                        height: 19px;

                        path {
                            fill: var(--background);
                        }
                    }

                    &:focus {
                        outline: green solid 3px;
                        outline-offset: 4px; 
                    }
                }
                .select-options {
                    @include select-options(var(--primary), var(--text-light), var(--hover-primary));
                                            
                    .option-container:hover .sub-options {
                        display: block;
                    }
                    
                    img.icon,
                    img.icon svg {
                        width: 21px;
                        height: 21px;
                    }
                    span {
                        font-size: 14px;
                        line-height: 17px;
                        color: var(--text);
                    }
                }
            }

            .button {
                @include button(var(--border-dark), var(--light), var(--text), var(--light));
                span.icon,
                    span.icon svg {
                        width: 19px;
                        height: 19px;

                        path {
                            fill: var(--text);
                        }
                    }
            }

            >div {
                display: flex;
                justify-content: center;
                align-items: center;

                &:not(:last-child) {
                    padding-right: 13px;
                    border-right: 1px solid #DBDBDB;
                }
            }

            .user-options {
                gap: 14px;

                .icon-container {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 55px;
                    height: 55px;
                    border-radius: 100%;
                    padding: 11px;
                    border: 1px solid var(--primary);
                    .profile-picture,
                    .profile-picture svg {
                        width: 100%;
                        height: 100%;

                        path {
                            fill: var(--primary);
                        }
                    }
                }

                .custom-selectbox {
                    position: relative;

                    #select-trigger {
                        @include select;

                        span#username {
                            overflow: hidden;
                        }
                        .arrow,
                        .arrow svg {
                            width: 13px;
                            height: auto;

                            path {
                                fill: var(--primary);
                            }
                        }
                    }

                    .select-options {
                        font-size: 14px;
                        line-height: 17px;
                        color: var(--text);
                        @include select-options(var(--light), var(--text), var(--hover-light));

                        img.icon {
                            width: 21px;
                            height: 21px;
                        }

                        span {
                            font-size: 14px;
                            line-height: 17px;
                            color: var(--text);
                        }
                        
                        &:focus {
                            outline: green solid 3px;
                        }
                    }
                }
            }

            .active {
                display: block !important;
            }
        }
    }
}
