@import "./globals/__mixins";
@import "./globals/__variables";

#navbar {
    position: relative;
    display: flex;
    width: 100%;
    padding: 15px 30px 15px 44px;
    background-color: $light;
    z-index: 1;

    @include box-shadow;

    .wrapper {
        height: 100%;
        justify-content: space-between;

        .logo-container {
            display: flex;
            gap: 56px;
            height: 100%;

            .logo-link {
                display: flex;
                align-items: center;
                max-width: 228px;
                width: 100%;

                .logo {
                    width: 100%;
                    height: 21px;
                }
            }

            .streep {
                height: 100%;
                width: 1px;
                background-color: #DBDBDB;
            }
        }

        .options {
            display: flex;
            gap: 13px;

            .add {
                position: relative;

                .button {
                    @include button($border-primary, $primary, $text-light);

                    &:focus {
                        outline: green solid 3px;
                        outline-offset: 4px; 
                    }
                }
                .select-options {
                    @include select-options($primary, $text-light, $hover-primary);
                                            
                    .option-container:hover .sub-options {
                        display: block;
                    }
                    
                    img.icon {
                        width: 20px;
                        height: 20px;
                    }
                }
                

            }


            .button {
                @include button($border-dark, $light, $text);
            }

            >div {
                display: flex;
                justify-content: center;
                align-items: center;

                &:not(:last-child) {
                    padding-right: 13px;
                    border-right: 1px solid #DBDBDB;
                }
            }

            .user-options {
                gap: 14px;

                .icon-container {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 55px;
                    height: 55px;
                    border-radius: 100%;
                    padding: 11px;
                    border: 1px solid $primary;
                    .profile-picture {
                        width: 100%;
                        height: 100%;
                    }
    
                }

                .custom-selectbox {
                    position: relative;

                    #select-trigger {
                        @include select;

                        span#username {
                            overflow: hidden;
                            max-width: 105px;
                        }
                    }

                    .select-options {
                        @include select-options($light, $text, $hover-light);

                        img.icon {
                            width: 20px;
                            height: 20px;
                        }

                        &:focus {
                            outline: green solid 3px;
                        }

                    }
                }
                
            }

            .active {
                display: block !important;
            }
        }
        

    }
}