/* checkbox */
input:checked {
    accent-color: #3dabd5;
}

@supports (accent-color: #fff) {
    .info {
        display: none;
    }
}

input::placeholder {
    color: #d3d3d3;
    opacity: 1;
    font-weight: 400;
}

input::-ms-input-placeholder {
    color: #d3d3d3;
    font-weight: 400;
}

/* Product container Form height */
@media only screen and (min-width: 1920px) {
    .form-height {
        height: 75.5%;
    }

    /* when no products available */
    .hd-form-height {
        height: 25.5%;
    }
}

/* Popup */
.no-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

@media only screen and (min-width: 2560px) {
    .line-clamp-tile {
        overflow: visible; /* Reset overflow */
        display: block; /* Reset display */
        -webkit-line-clamp: initial; /* Reset line clamp */
    }
}

@media only screen and (min-width: 3840px) {
    .pos-right {
        right: 8rem !important;
    }

    .sub-header-gap {
        gap: 41rem;
        right: 0rem !important;
    }
}

/* Product categories */
.rotate-arrow {
    transform: rotate(180deg);
}

.rotate-arrow-no-rotate {
    transform: rotate(0deg);
}

/* popUp */
.discount-input::placeholder, .discount-input::-webkit-input-placeholder,
.discount-input:-moz-placeholder, .discount-input::-moz-placeholder,
.discount-input:-ms-input-placeholder  {
text-align: center; 
}

/* Chrome, Safari, Edge, Opera */
.discount-input::-webkit-outer-spin-button,
.discount-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.discount-input[type=number] {
    -moz-appearance: textfield;
}


/* properties */

.property-search-input {
    padding-left: 1.2rem;
    padding-right: 1rem;
}

.multi-select-input,
.text-input {
    padding-left: 0.8rem;
}

.property-search-input::placeholder,
.multi-select-input::placeholder,
.bool-input::placeholder,
.single-input::placeholder,
.category-search::placeholder {
    color: #DBDBDB;
}

.numberInput::-webkit-outer-spin-button,
.numberInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.numberInput[type=number] {
    -moz-appearance: textfield;
}


/* slider */
.slideon {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 24px;
    vertical-align: middle;
}

/* Hiding checkbox */
.slideon>input {
    display: none;
}

input.slideon {
    display: none;
}

/* End hiding checkbox */

.slideon-slider {
    position: absolute;
    cursor: pointer;
    border-radius: 34px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .3s;
    transition: .3s;
}

.slideon-slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 1px;
    bottom: 1px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0px 3px 0px rgb(0, 0, 0, 0.45);
}

.slideon input:checked~.slideon-slider {
    background-color: #3DABD5;
}

.slideon input:checked~.slideon-slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

.slideon.slideon-p1 .slideon-slider:before {
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
}

.slideon.slideon-p2 .slideon-slider:before {
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
}

/* Slideon color */
.slideon.slideon-primary input:checked~.slideon-slider {
    background-color: #3DABD5;
}

.slideon.slideon-secondary input:checked~.slideon-slider {
    background-color: #717172;
}

/* End slideon color */


/* Slideon shape */
.slideon.slideon-round .slideon-slider {
    border-radius: 34px;
}

.slideon.slideon-round .slideon-slider:before {
    border-radius: 50%;
}

.slideon.slideon-square .slideon-slider {
    border-radius: 0;
}

.slideon.slideon-square .slideon-slider:before {
    border-radius: 0;
}

/* End slideon shape */

/* Medium slideon */
.slideon.slideon-md {
    width: 42px;
    height: 24px;
}

.slideon.slideon-md input:checked~.slideon-slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

.slideon.slideon-md .slideon-slider:before {
    height: 22px;
    width: 22px;
    left: 1px;
    bottom: 1px;
}

.slideon.slideon-md.slideon-p1 .slideon-slider:before {
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
}

.slideon.slideon-md.slideon-p2 .slideon-slider:before {
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
}

/* End Medium slideon */


/* create product step 2 photos */
.splide__slide {
    width: 18rem !important;
    height: 15rem !important;
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
    margin-left: 0.87rem !important;
    margin-right: 0.87rem !important;
}

.select-image:hover {
    cursor: pointer;
}
