/* checkbox */
input:checked {
    accent-color: #3dabd5;
}

@supports (accent-color: #fff) {
    .info {
        display: none;
    }
}

input::placeholder {
    color: #d3d3d3;
    opacity: 1;
    font-weight: 400;
}

input::-ms-input-placeholder {
    color: #d3d3d3;
    font-weight: 400;
}

/* Product container Form height */
@media only screen and (min-width: 1920px) {
    .form-height {
        height: 75.5%;
    }
}

/* Popup */
.no-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

@media only screen and (min-width: 2560px) {
    .line-clamp-tile {
        overflow: visible; /* Reset overflow */
        display: block; /* Reset display */
        -webkit-line-clamp: initial; /* Reset line clamp */
    }
}

@media only screen and (min-width: 3840px) {
    .pos-right {
        right: 8rem !important;
    }

    .sub-header-gap {
        gap: 41rem;
        right: 0rem !important;
    }
}

/* Product categories */
.rotate-arrow {
    transform: rotate(180deg);
}

/* popUp */
.discount-input::placeholder, .discount-input::-webkit-input-placeholder,
.discount-input:-moz-placeholder, .discount-input::-moz-placeholder,
.discount-input:-ms-input-placeholder  {
text-align: center; 
}

/* Chrome, Safari, Edge, Opera */
.discount-input::-webkit-outer-spin-button,
.discount-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.discount-input[type=number] {
    -moz-appearance: textfield;
}
