/* checkbox */

input:checked {
    accent-color: #3dabd5;
}

@supports (accent-color: #fff) {
    .info {
        display: none;
    }
}


input::placeholder {
    color: #d3d3d3;
    opacity: 1;
    font-weight: 400;
}

input::-ms-input-placeholder {
    color: #d3d3d3;
    font-weight: 400;
}

/* Popup */
.no-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

@media only screen and (min-width: 2560px) {
    .line-clamp-tile {
        overflow: visible; /* Reset overflow */
        display: block; /* Reset display */
        -webkit-line-clamp: initial; /* Reset line clamp */
    }
}

@media only screen and (min-width: 3840px) {
    .pos-right {
        right: 8rem !important;
    }

    .sub-header-gap {
        gap: 41rem;
        right: 0rem !important;
    }
}

/* Product categories */
.rotate-arrow {
    transform: rotate(180deg);
}