@import "../globals/__mixins";
@import "../globals/__variables";

.activity-log{
    .page-title{
        display: block;
        font-size: 20px;
        line-height: 24px;
        font-weight: bold;
        margin-bottom: 35px;
        margin-top: 6px;
        margin-left: 4px;
    }
    .activity-table{
        @include table-wrapper;
        .table-header{
            .name{
                margin-left: 30px;
                width: 300px;
            }
            .activity{
                width: 200px;
            }
            .model{
                flex: 1;
            }
            .date{
                margin-right: 210px;
            }
        }
        .table-content{
            .table-item{
                &.active{
                    height: auto;
                }
                .table-info{
                    .name{
                        margin-left: 17px;
                        min-width: 300px;
                    }
                    .activity{
                        width: 200px;
                    }
                    .model{
                        display: flex;
                        flex: 1;
                    }
                    .date{
                        width: 200px;

                    }
                    .dropdown-wrapper {
                        width: 54px;
                        &:hover {
                            cursor: pointer;
                        }
                        .open {
                            height: 10px;
                            margin: 20px;
                        }
                        .chevron-down{
                            width: 17px;
                            height: 10px;
                            margin: 10px 20px 10px 14px;
                            transition: transform 0.3s ease;
                            cursor: pointer;
                            &.active{
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
                .item-content{
                    .details{
                        margin-left: 34px;
                    }
                }
            }
        }
        .table-footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 21px;
            background-color: var(--primary);
            padding: 17px 25px;
            color: var(--light);
            border-radius: 0 0 10px 10px ;
            .pagination {
                display: flex;
                gap: 5px;
                .link {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    color: var(--text-light);
                    border: 1px solid var(--border-light);
                    border-radius: 5px;
                    width: 42px;
                    height: 42px;
                    &:hover {
                        color: var(--primary);
                        background-color: var(--light);
                    }
                }
            }
        }
    }
}
